html{
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
}
body {
  background-color: #E4E9FD;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
